
        body{
            background-color:
        }
        .form{
            margin:0px auto 0px auto;
            width:75%;
        }
        .bookname{
            margin:0px auto 0px auto;
            width:50%;
            height:60px;
            min-width:170px;
        }
        h1{
            text-align:center;
            margin:20px 0px 0px 0px;
        }
        .submitbtn{
            width:110px;
        }
        .container {
            padding: 20px; 
        }
        .container .row{
            margin:0px;
            padding:0px;
        }
        .col{
            border:1px solid black;
        }
        .row{
            align-items: flex-start;
        }
        .box{
            height:auto;
            width:75%;
            box-sizing: border-box;
            margin:80px auto 30px auto;
            padding-bottom:20px;
            border-radius:20px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        }
        .box img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:170px;
            height:200px;
            border-radius:20px;
        }
        .text{
            margin-top:25px;
            text-align:center;
        }

        
        .btn{
            margin-right:15px;
        }
        .homePageButton{
            margin-top:80px;
        }
        footer{
            margin:50px;
        }
        .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 250px;
        height:150px;
        margin-right:auto;
        margin-left:auto;
        border-radius:20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        }

        .buttontext{
            margin-top:10px;
            height:50px;
            border-bottom:1px solid black;
            font-family: 'VT323', monospace;
            font-size:25px;
            letter-spacing:1px;
        }

        .button{
            margin-top:0px;
            position: absolute;
            margin-left:28%;
            margin-right:22%;
            font-family: "JetBrains Mono",monospace;
            letter-spacing:1px;
            font-size:25px;   
        }
